.swagger-section #header{
    background-color: #222;
}

/*main body background color*/
.swagger-section {
    background-color: #101010;
}

/*hover color*/
.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a {
color: white;
}

/*active color*/
.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a {
    color: white;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading ul.options li a {
    color: white;
}


.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading ul.options li a {
    color: white;
}



.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a{
    color: white;
}

/*side List*/
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a {
    color: white;
}

/*list text*/
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a{
    color: white;
}


/*content background*/
#swagger-ui-container {
    /*background-color: #fff;*/
}


/*card background*/
        /*post*/
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading {
    background-color: #305e82;
    border: 1px solid #000000;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content {
    background-color: #b3d2e9;
    border: 2px solid #b3d2e9;
}

        /*get*/
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading {
    background-color: #3f6e4f;
    border: 2px solid #000;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content {
    background-color: #9dd3b3;
    border: 2px solid #9dd3b3;
}

        /*PUT*/
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading {
    background-color: #ffbd68;
    border: 2px solid #935f18;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content {
    background-color: #ffe6c3;
    border: 1px solid #ffa62b;
}

        /*DELETE*/
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading {
    background-color: #ff9797;
    border: 2px solid #ff9797;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content {
    background-color: #ffc4c4;
    border: 1px solid #ff9797;
}

.swagger-section .swagger-ui-wrap .model-signature .signature-nav a {
    text-decoration: none;
    color: #000;
}
